# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
ENV/

# OS / Editors
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Misc
.env
*.log

